[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule ".config/awesome/revelation"]
	path = .config/awesome/revelation
	url = https://github.com/bioe007/awesome-revelation.git
[submodule ".vim"]
	path = .vim
	url = git@github.com:synic/dotvim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:synic/oh-my-zsh
